<%= content_for :head do %>
  <style type="text/css">
    .character{
      margin-top: 20px; 
    }
  </style>
<% end %>

<h2>
  <%= image_tag "#{Destiny::LINK_ROOT}#{@player.data_object.icon_path}" %><%= @player.data_object.display_name %>
</h2>

<h4>Characters</h4>

  <% for character in @player.account_service.character_data_objects%>
    <div class="character">
      <div style="background-repeat: no-repeat; background-image: url('<%= "#{Destiny::LINK_ROOT}#{character.background_path}" %>');"><%= image_tag "#{Destiny::LINK_ROOT}#{character.emblem_path}" %></div>
      <p>
        class type: <%= character.inspect %>
      </p>
    </div>
  <% end %>


<p>
  <%= @player.account_service.character_data_objects.inspect %>
</p>

<p>
  @player.data_object.inspect:<br />
  <%=@player.data_object.inspect %>
</p>

<p>
  @player.account_service.data_object.inspect:<br />
  <%= @player.account_service.data_object.inspect %>
</p>