<%= content_for :head do %>
  <style type="text/css">
    .character{
      margin-top: 20px; 
      width: 474px;
    }
    .character_text{
      float: right; 
      color: #ffffff; 
      text-align:right;
    }
    .character_type{
      font-size: 20px;
    }
    .character_level{
      font-size: 28px;
    }
    .character_light_level{
      font-size: 14px;
      color: #ffff00; 
    }
  </style>
<% end %>

<h2>
  <%= image_tag "#{Destiny::LINK_ROOT}#{@player.data_object.icon_path}" %><%= @player.data_object.display_name %>
</h2>

<h4>Characters</h4>

<% for character in @characters %>
  <div class="character panel panel-default">
    <div class="panel-heading">
      <%= character.class_type.name %>
    </div>
    <div style="background-repeat: no-repeat; background-image: url('<%= "#{character.emblem_background_url}" %>');">
      <%= image_tag "#{character.emblem_url}" %>
      <div class="character_text">
        <span class="character_type">
          <%= character.class_type.name %>
        </span><br class="character_break"/>
        <span class="character_level">
          <%= character.level %>
        </span><br class="character_break"/>
        <span class="character_light_level">
          <%= character.light_level %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<!--
  <% for character in @player.account_service.character_data_objects%>
    <div class="character">
      <div style="background-repeat: no-repeat; background-image: url('<%= "#{Destiny::LINK_ROOT}#{character.background_path}" %>');"><%= image_tag "#{Destiny::LINK_ROOT}#{character.emblem_path}" %></div>
      <p>
        class type: <%= character.inspect %>
      </p>
    </div>
  <% end %>

<p>
  <%= @player.account_service.character_data_objects.inspect %>
</p>

<p>
  @player.data_object.inspect:<br />
  <%=@player.data_object.inspect %>
</p>

<p>
  @player.account_service.data_object.inspect:<br />
  <%= @player.account_service.data_object.inspect %>
</p>
-->